@import "./_reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --type-t50: 0.87rem;
  --type-t75: 0.93rem;
  --type-t100: 1rem;
  --type-t200: 1.33rem;
  --type-t300: 1.78rem;
  --type-t400: 2.37rem;
  --type-t500: 3.16rem;
}

:root {
  --color-rasp: #c33149;
  --color-frost: #7698b3;
  --color-sky: #83b5d1;
  --color-space: #1a1b41;
  --color-black: #000000;
}
